!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    - if current_article
      %title= current_article.title
    - else
      %title Stefan Magnuson - Software Developer
      %meta{:content => "Polyglot software developer with a focus on web application development with Ruby and Rails", :name => "description"}/
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
    = stylesheet_link_tag "all"
    = javascript_include_tag  "all"
  %body
    %nav.navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} Stefan Magnuson
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "/"} Home

    .container
      ~ yield
      - if current_article
        %hr
        .text-center
          %p Did you find this post useful? If you would like help with anything then you can contact me any time via <a href="https://twitter.com/stymis" target="_blank">Twitter</a>.
          %br
          %br

    = google_analytics_universal_tag
