---
pageable: true
per_page: 10
---

.lead
  I'm Stefan, a software developer with a passion for programming, particularly when it involves making software that helps people. Currently working primarily with Rails, React, Django and Ruby/Kiba (for ETL processing).

.lead
  I'm keen on test-driven development, using the right tools (or language) for the job, and quality code and documentation.

.lead
  I mostly write about Ruby/Rails development as I build and bootstrap a multi-tenant SaaS, <a href="https://www.practiceflow.co.uk" target="_blank">PracticeFlow</a>.

- if paginate && num_pages > 1
  %p
    Page #{page_number} of #{num_pages}
  - if prev_page
    %p= link_to 'Previous page', prev_page
- page_articles.each_with_index do |article, i|
  %h3
    %span== [#{article.metadata[:page]['category'].humanize}]
    = link_to article.title, article
- if paginate
  - if next_page
    %p= link_to 'Next page', next_page
